* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-print-color-adjust: exact;
  font-family: Nunito,helvetica,sans-serif,"noto color emoji";
  font-smoothing: antialiased;

  background: #d5d5d5;
}
